/* RESET - COMPORTAMENTO INICIAL */
*{margin: 0; padding: 0; font-size: 100%; font-family: 'Roboto', sans-serif; 
    box-sizing: border-box; border: none; outline: none;}
    img{max-width: 45%;}
    ul{list-style: none;}
    a{text-decoration: none;}
    h2{font-size: 1.5em; color: black;}
    p{font-size: 1em; color: black;}
/* CABEÇALHO */
.cabecalho{ width: 100%; float: left; padding: 50px 8%; background-color: rgb(163, 220, 245);}
.logo a{width: 149px; height: 71px; float: left; background: 
url(.../img/logo.png) no-repeat ; font-size: 0;}
.cabecalho form{ width: 30%; float: right;}
.cabecalho input[type="text"]{ width: 85%; float: left;padding: 15px 10px; border-radius: 5px 0 0 5px;}
.cabecalho button{width: 15%; float: right; padding: 15px 10px;background-color: rgb(104, 208, 236);
 color: white; cursor: pointer; border-radius: 0 5px 5px 0;}