/* RESET - COMPORTAMENTO INICIAL */
*{margin: 0; padding: 0; font-size: 100%; font-family: 'Roboto', sans-serif; 
box-sizing: border-box; border: none; outline: none;}
img{max-width: 100%;}
ul{list-style: none;}
a{text-decoration: none;}
h2{font-size: 1.5em; color: black;}
p{font-size: 1em; color: black;}
/* CABEÇALHO */
.cabecalho{ width: 100%; float: left; padding: 50px 8%; background-color: rgb(245, 209, 243);}
.logo a{width: 149px; height: 71px; float: left; background: 
url(../img/Logo-M.png) no-repeat ; font-size: 0;}
.cabecalho form{ width: 30%; float: right;}
.cabecalho input[type="text"]{ width: 85%; float: left;padding: 15px 10px; border-radius: 5px 0 0 5px;}
.cabecalho button{width: 15%; float: right; padding: 15px 10px;background-color: rgb(198, 156, 199);
 color: white; cursor: pointer; border-radius: 0 5px 5px 0;}
/* MENU */
.menu{width: 100%; float: left; background-color: rgb(140, 58, 136); padding: 18px 8%;}
.menu li{float: left;}
.menu li a{color: white; margin-right: 25px;}
.menu li a:hover{ color: rgb(250, 237, 58);}
/* ICONES DE REDES SOCIAIS */
.icones-redes-sociais{float: right;}
.icones-redes-sociais a{color: white;float: left;margin-left: 15px;}
.btn-facebook:hover{color: rgb(0,4,255);}
.btn-instagram:hover{color: rgb(216, 11, 243);}
.btn-whatsapp:hover{color: rgb(41, 236, 96);}
.btn-youtube:hover{color: rgb(241, 9, 40);}
/* CORPO DO SITE - CONTEÚDO PRINCIPAL */
.corpo{width: 100%; float: left; padding: 20px 8%;}
.sobre{width: 70%; float: left; padding: 0 20px 20px 0;}
.sobre h2{margin-bottom: 15px;}
.sobre img{width: 50%; float: left; margin: 0 15px 15px 0;}
.sobre p{text-align: justify;}
/* ASIDE - CONTEÚDOS RELACIONADOS */
.assuntos-relacionados{width: 30%; float: right;padding: 10px 20px; background-color: white;}
.assuntos-relacionados h2{margin: 10px; font-size: 1.1em;}
.assuntos-relacionados ol{padding: 20px;}
.assuntos-relacionados ol li{margin: 3px;}
.assuntos-relacionados ol li:hover{color: rgb(226, 214, 126);}
.assuntos-relacionados a{color:rgb(64, 20, 98);text-decoration: none;}

/* FOOTER - RODAPÉ DO SITE */
.rodape{width: 100%; float: left; background-color: rgb(140, 58, 136); padding: 20px 8%;}
.rodape p{color: white; float: center; text-align: center; margin: 20px 0px;}
